*.nupkg
# NuGet Packages
packages/*
*.nupkg
## TODO: If the tool you use requires repositories.config
## uncomment the next line
!packages/repositories.config

# Enable "build/" folder in the NuGet Packages folder since
# NuGet packages use it for MSBuild targets.
# This line needs to be after the ignore of the build folder
# (and the packages folder if the lines above for that has been uncommented)
!/packages/build/
*.dll
*.exe
*.pdb
SH.Web.UI/bin/*.*
SH.Web.UI/obj/*
*.suo
SmartHotel.v12.suo
SmartHotel.sln.DotSettings.user
*.user
*.user
*.map
*TemporaryGeneratedFile*
SH.Web.UI.Tests/bin/*
SmartHotel.v12.suo
SH.Business.Tests/*/*.dll
SH.Business.Tests/*/*/*.dll
SH.Business.Tests/*/*/*/*.dll
*.cache
*.txt
*.xml
*.cache
*.FileListAbsolute.txt
