@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_Weather")

<div role="main" data-bind="foreach: ZipCodes">
    <weather params="ZipCode: Code, RemoveArea: $parent.RemoveArea"></weather>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            url: '/ZipCodes/Index',
            method: "GET",
            success: function (data) {
                ko.applyBindings(buildMainViewModel(data));
            }
        });


    });

    function buildMainViewModel(data) {
        {
            var viewModel = {};
            viewModel.ZipCodes = ko.observableArray(data);
            viewModel.RemoveArea = function(zipcode) {
                viewModel.ZipCodes(_.reject(viewModel.ZipCodes(), function(e) { return (e.Code == zipcode); }));
            };

            return viewModel;
        }
    }
</script>