@using SH.Web.UI.Models
@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_Weather")

<div role="main" data-bind="foreach: ZipCodes">
    <div class="weatherContiner widget">
        <weather params="ZipCode: Code"></weather>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        ko.applyBindings({ ZipCodes: [{ Code: 44106 }, { Code: 75001 }, { Code: 75002 }] });
    });
</script>