<script type="text/javascript">
    $(document).ready(function () {
        if (!ko.components.isRegistered('weather')) {
            ko.components.register('weather', {
                template: { element: 'weather-template' },
                viewModel: function (params) { return new buildModel(params); }
            });

            function buildModel(params) {
                var self = this;
                self.Description = ko.observable('');
                self.Country = ko.observable('');
                self.Name = ko.observable('');
                self.Icon = ko.observable('');
                self.showInput = ko.observable(false);
                self.ZipCode = ko.observable(params.ZipCode);
                self.NewZipCode = ko.observable(params.ZipCode);
                self.RemoveArea = params.RemoveArea;

                self.IconUrl = ko.computed(function () {
                    return 'http://openweathermap.org/img/w/' + self.Icon() + '.png';
                });

                self.changeZipCode = function () {
                    self.showInput(!self.showInput());
                };

                self.updateZipCode = function () {
                    self.ZipCode(self.NewZipCode());
                    getWeather(self.NewZipCode());
                    self.changeZipCode();
                }

                self.updateData = function (data) {
                    console.log(data);
                    self.Name(data.name);
                    self.Description(data.weather[0].main);
                    self.Icon(data.weather[0].icon);
                    self.Country(data.sys.country);
                };

                function getWeather(zipcode) {
                    $.ajax({
                        dataType: "json",
                        url: '/ZipCodes/GetWeather/' + zipcode,
                        success: self.updateData,
                        error: function (x, y) {
                            console.log(x);
                            console.log(y);
                        }
                    });
                }

                getWeather(self.ZipCode());
            }
        }
    });
</script>


<template id="weather-template">
    <div class="weatherContiner widget">
        <a class="boxclose" data-bind="click: function(){RemoveArea(NewZipCode())}"></a>

        <!-- ko if: showInput() -->
        <div>
            <form data-bind="submit: updateZipCode">
                <input type="text" data-bind="value: NewZipCode" class="weather-input" />
                <input type="submit" data-bind="click: updateZipCode" class="weather-button" value="" />
            </form>
        </div>
        <!-- /ko -->
        <!-- ko if: !showInput() -->
        <span class="fs14 bold" data-bind="text: ZipCode, click: changeZipCode"></span>
        <!-- /ko -->

        <h4 data-bind="text: Name"></h4>
        <h3 data-bind="text: Description" class="ib"></h3>
        <img data-bind="attr:{ src: IconUrl }" class="ib" />

    </div>
</template>
